<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags  change -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
       <title>
          {% block title %}

          {% endblock %}
      </title>
   </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Election Demo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('mains.homepage') }}">Home </a>
            </li>
            {% if current_user.is_authenticated %}
                {% if current_user.id_admin_role == 1 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admins.user_admin') }}">User Admin</a>
                    </li>
                {% else %}
                    <li class="nav-item">

                        <a class="nav-link" href="{{ url_for('ballot.dates') }}">Election Dates</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ballot.classgrp') }}">Class </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ballot.office') }}">Office</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ballot.candidate') }}">Candidate Entry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ballot.candidate_report') }}">Candidate Report</a>
                    </li>
                {% endif %}
            {% endif %}
            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admins.login') }}">Login</a>
                </li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admins.logout') }}">Logout</a>
                </li>
            {% endif %}

        </ul>

      </div>
    </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
                  <div class="float-end">
                  <button type="button" class="m1-2 mb-1 close " data-dismiss="alert" aria-label="Close">
                      close message
                  </button>
                  </div>
              </div>
           {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}

      {% endblock %}
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.js" integrity="sha384-qbtR4rS9RrUMECUWDWM2+YGgN3U4V4ZncZ0BvUcg9FGct0jqXz3PUdVpU1p0yrXS" crossorigin="anonymous"></script>
   </body>
   <style>
      body {
      background-color: #212121;
      color: white
      }
   </style>
</html>