{% extends 'base1.html' %}
{% block title %}
Ballot
{% endblock %}

{% block content %}
    <div class="container">
        <h1> Ballot ....</h1>
        <br>
       <form method="post" style="color:white" autocomplete="off" data-max-selections="{{ max_votes }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row g-3">
                <div class="col-2">
                    <p class="text-warning">{{ office }} {{ grp }}
                        <br>
                     Vote for {{ max_votes }} or less</p>
                </div>
            </div>
            <div class="form-check">
            {% for candidate_id, candidate_name in candidates %}
                  <input class="form-check-input" type="checkbox" name="candidate" id="{{ candidate_id }}"
                         value="{{ candidate_id }}" >
                  <label class="form-check-label" for="{{ candidate_id }}">
                      {{ candidate_name }}
                  </label>
             <br>
            {% endfor %}
                  <input class="form-check-input" type="checkbox" name="candidate" id="99" value="99" >
                  <label class="form-check-label" for="99" >
                     No Vote
                  </label>
              </div>
            <br>
            <input type="submit" value="Submit Vote" class="btn btn-primary">
              <div id="error-message" style="color: red; display: none;">
                 You can select a maximum of {{ max_votes }} options.
              </div>
            <br>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('form');
    // Retrieve the data-max-selections attribute value and convert it to a number
    const MAX_SELECTIONS = parseInt(form.getAttribute('data-max-selections'), 10);
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    const errorMessage = document.getElementById('error-message');
    const proceedMessage = document.getElementById('proceed-message'); // Assuming you have this element in your HTML

    function updateCheckboxState() {
        let checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;
        checkboxes.forEach((checkbox) => {
            if (checkedCount >= MAX_SELECTIONS) {
                checkbox.disabled = !checkbox.checked;
            } else {
                checkbox.disabled = false;
            }
        });
        // Update display based on checkedCount
        errorMessage.style.display = (checkedCount > MAX_SELECTIONS || checkedCount === 0) ? 'block' : 'none';
        proceedMessage.style.display = (checkedCount === 1) ? 'block' : 'none'; // Show message only when one checkbox is checked
    }

    checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', updateCheckboxState);
    });

    form.addEventListener('submit', function(event) {
        let checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;
        if (checkedCount === 0 || checkedCount > MAX_SELECTIONS) {
            event.preventDefault();
            errorMessage.textContent = 'You must select 1 up to ' +  MAX_SELECTIONS + ' candidates.';
            errorMessage.style.display = 'block';
        }
    });
});
</script>
{% endblock %}