{% extends 'base1.html' %}
{% block title %}
Review Ballot
{% endblock %}

{% block content %}
     <div class="table-responsive">
        <h1> Ballot Review ....</h1>
        <br>
        <form method="post" style="color:white" autocomplete="off" data-max-selections="{{ max_votes }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="row g-3">

            </div>

            <input type="hidden" name="grp" value="{{ grp }}">
            <input type="hidden" name="office" value="{{ office }}">
            <input type="hidden" name="form_name" value="VoteForMany">
            <input type="submit" value="Submit Vote" class="btn btn-primary">

            <br>
        </form>
        <br>
        <!-- Display keys of office_dict -->

        <!-- Table to display office_dict -->
        <table class="table table-dark">
            <tbody class="text-white">
                {% for group, offices in office_dict.items() %}
                    <tr class="col-sm-2 text-danger">
                        <td class="col-sm-2">{{ group }}</td>
                    </tr>
                    {% for office in offices %}
                        <tr class="col-sm-2">
                            <td class="col-sm-2">{{ office[0] }}</td>
                            <td class="col-sm-2">
                                {% for candidate in office[3] %}
                                    <div>{{ candidate | replace('[', '') | replace(']', '') | replace("'", '') }}</div>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

