{% extends 'base.html' %}
{% block title %}
 Class Group Page
{% endblock %}



<body>
{% block content %}
    <div class="container">
        <h1> Class or Groups...</h1>
        <br>
        <form method="post" style="color:white">
            {{ form.hidden_tag() }}
            <div class="row g-3 ">
                <div class="col-2 ">
                     {{ form.name.label() }}
                </div>
                 <div class="col-auto">
                    {{ form.name() }}
                </div>
                 <div class="col-sm-2">
                    <span id="passwordHelpInline" class="form-text">
                       Enter the class or group name.
                    </span>
                </div>
            </div>
            <br>
            <div class="row g-3">
                <div class="col-2">
                     {{ form.sortkey.label() }}
                </div>
                 <div class="col-auto">
                    {{ form.sortkey() }}
                </div>
                 <div class="col-sm-2">
                    <span id="passwordHelpInline" class="form-text">
                       For sort order in dropdowns USE INTEGER
                    </span>
                </div>
            </div>

            <br><br>
            <div class="d-grid gap-2 d-md-block">
                {{ form.submit(type="submit",value='Add Class', class="btn   btn-primary") }}
            </div>

        </form>
        <br><br>
        <div class="container">
            <table class="table-dark">
               <thead>
                   <tr>
                       <th class="col-2"> Sort Key</th>
                       <th class="col-2"> Class or Group</th>
                       <th class="col-2"> id </th>
                       <th class="col-2"> Delete </th>
                   </tr>
               </thead>

               <tbody>
               {% for classgrp in classgrps %}
                <tr>
                    <td>{{ classgrp.sortkey }}</td>
                     <td>{{ classgrp.name }}</td>
                    <td> {{ classgrp.id_classgrp }}</td>
                    <td><a href="{{ url_for('deleteclass',id=classgrp.id_classgrp)}}">Delete</a> </td>
                </tr>
                {% endfor %}
               </tbody>
            </table>


        </div>


    </div>


{% endblock %}
</body>
