{% extends 'base.html' %}
{% block title %}
Login Page
{% endblock %}

{% block content %}
    <div class="container">
        <h1> Login ....</h1>
        <br>
        There is a {{ the_timeout }} minute timeout for the session. If you are idle (no page submits) for {{ the_timeout }} minutes, you will be logged out automatically.
        <br><br>
        <form method="post" style="color:white" autocomplete="off">
            {{ form.hidden_tag() }}

            <div class="row g-3 ">
                <div class="col-2 ">
                    {{ form.login_so_name.label() }}
                </div>
            </div>
            <div class="row g-3 ">
                 <div class="col-auto">
                     {{ form.login_so_name()}}
                </div>
            </div>
           <br>
            <div class="row g-3 ">
                <div class="col-2 ">
                    {{ form.login_pass.label() }}
                </div>
            </div>
            <div class="row g-3 ">
                 <div class="col-auto">
                     {{ form.login_pass()}}
                </div>

            <br>
            <div class="d-grid gap-2 d-md-block">
                {{ form.submit(type="submit", value='Login', class="btn btn-primary") }}
            </div>
        </div>
        </form>
    </div>
{% endblock %}