{% extends 'base.html' %}
{% block title %}
 Office Update Page
{% endblock %}



<body>
{% block content %}
    <div class="container">
        <h1>Update Office ...</h1>
        <br>
        <form  method="POST" style="color:white">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <div class="row g-3 ">
                <div class="col-2 ">
                     {{ form.office_title.label() }}

                </div>
                 <div class="col-auto">
                    {{ form.office_title(class="form-control", value=office_to_update.office_title) }}
                 </div>
                 <div class="col-sm-2">
                    <span id="HelpInline" class="form-text">
                       Enter office name.
                    </span>
                </div>
            </div>
            <br>
            <div class="row g-3 ">
                <div class="col-2 ">
                     {{ form.office_vote_for.label() }}
                </div>
                 <div class="col-auto" >
                    {{ form.office_vote_for(class="form-control", value=office_to_update.office_vote_for) }}
                </div>
                 <div class="col-sm-2" autofocus>
                    <span id="passwordHelpInline" class="form-text" >
                        <b> Max Candidates to Vote For. </b>
                    </span>
                </div>
            </div>

            <br>
            <div class="row g-3">
                <div class="col-2">
                     {{ form.sortkey.label() }}
                </div>
                 <div class="col-auto">
                    {{ form.sortkey(class="form-control", value=office_to_update.sortkey) }}
                </div>
                 <div class="col-sm-2">
                    <span id="HelpInline" class="form-text">
                       For sort order in dropdowns USE INTEGER
                    </span>
                </div>
            </div>
            <br><br>
            <div class="d-grid gap-2 d-md-block">
                {{ form.submit(type="submit",value='Update Office', class="btn   btn-primary") }}
            </div>
        </form>
    </div>

{% endblock %}
</body>
